<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <h1>입력폼 활용</h1>
        <p>이름: <input v-model.lazy="myText2"><br></p>
        <label>
            <p>좋아하는 색은 :</p><br>
            <input type="radio" value="red" v-model="picked">
            빨강
        </label><br>

        <input type="radio" value="green" v-model="picked">
        녹색<br>
        <input type="radio" value="blue" v-model="picked">
        파랑<br>
        <input type="radio" value="yellow" v-model="picked">
        노랑<br>
        <input type="radio" value="gray" v-model="picked">
        회색<br>

        <p>내 이름은 {{myText2}}이고 좋아하는 색은 {{picked}} 입니다.</p>


    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                myText2: '',
                picked: ''
            }
        })
    </script>
</body>

</html>